.contact-form {
    margin: 100px;
    display: flex;
    justify-content: center;
    padding: 60px;
    border: 1px solid white;
}

.form-container {
    width: 80%;
    margin: 0 auto;
}

.input-field {
    width: 45%;
    text-align: center;
    margin: 10px;
    border: none;
    height: 40px;
    border-bottom: 1px solid rgb(139, 139, 139);
    font-size: 25px;
    background: none;
    color:white;
    box-sizing: border-box;
}

.message-field {
    width: 95%;
    height: 200px;
    padding: 12px 20px;
    font-size: 20px;
    resize: none;
    background: none;
    margin-block:20px;
    color: white;
    box-sizing: border-box;
}

.input-field:focus, .message-field:focus {
    outline: none
}

.msg-btn {
    font-size: 20px;
    background-color: none;
    height: 40px;
    width: 95%;
    align-self: center;
    background:none;
    color: white;
    border: 1px solid rgb(139, 139, 139);
}

.msg-btn:hover {
    background-color: rgb(18, 18, 18)
}



@media screen and (max-width: 1050px) {
    .contact-form {
        flex-direction: column;
        margin: 20px;
    }

    .form-container{
        width: 100%;
    }

    .input-field {
        width: 100%;
        margin-inline: 0;
    }

    .msg-btn {
        width: 100%;
    }

    .message-field {
        width: 100%;
    }
}

@media  screen and (max-width: 700px) {
    .contact-form {
        padding: 20px;
    }
}